.background{
    background-color: blueviolet;
}
.news-source{
    background-color: rgb(211, 214, 217);
    text-align: center;
    padding: 5px;
    font-size: 13px;
}
.card-title{
    height: 130px;
}
.btn:hover{
    background-color: blue;
}